body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.discover {
  margin-bottom: 38px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

header {
  margin-bottom: 22px;
}

.personal {
  font-weight: 300;
  font-size: 42px;
  margin-bottom: 35px;
}

video {
  margin-bottom: 6px;
}

p {
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
}
