body {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  font-size: 50px;
  font-weight: normal;
}

.discover {
  margin-bottom: 38px;
}

a {
  color: aquamarine;
  font-size: 16px;
}
